<h1>Sign Up</h1>


<%= form_for(@user) do |u| %>
  <%= render 'shared/error_messages', :object => u.object %>
  <div class="field">
    <%= u.label :name %><br />
    <%= u.text_field :name %>
  </div>

  <div class="field">
    <%= u.label :email %><br />
    <%= u.text_field :email %>
  </div>

  <div class="field">
    <%= u.label :password %><br />
    <%= u.password_field :password %>
  </div>

  <div class="field">
    <%= u.label :password_confirmation, "Confirmation" %><br />
    <%= u.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= u.submit "Sign Up" %>
  </div>
<% end %>

